name: Deploy Application

on:
  deployment

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Echo Deployment Info
        run: |
          echo "GITHUB_SHA: ${{ github.sha }}"
          echo "Triggering Deployment for Environment: ${{ github.event.deployment.environment }}"
